<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="samuel.developer.projectoexpoeetepa_math">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.fase5.Q10F5"></activity>
        <activity android:name=".activity.fase5.Q9F5" />
        <activity android:name=".activity.fase5.Q8F5" />
        <activity android:name=".activity.fase5.Q7F5" />
        <activity android:name=".activity.fase5.Q6F5" />
        <activity android:name=".activity.fase5.Q5F5" />
        <activity android:name=".activity.fase5.Q4F5" />
        <activity android:name=".activity.fase5.Q3F5" />
        <activity android:name=".activity.fase5.Q2F5" />
        <activity android:name=".activity.fase4.Q10F4" />
        <activity android:name=".activity.fase4.Q9F4" />
        <activity android:name=".activity.fase4.Q8F4" />
        <activity android:name=".activity.fase4.Q7F4" />
        <activity android:name=".activity.fase4.Q6F4" />
        <activity android:name=".activity.fase4.Q5F4" />
        <activity android:name=".activity.fase4.Q4F4" />
        <activity android:name=".activity.fase4.Q3F4" />
        <activity android:name=".activity.fase4.Q2F4" />
        <activity android:name=".activity.fase3.Q10F3" />
        <activity android:name=".activity.fase3.Q9F3" />
        <activity android:name=".activity.fase3.Q8F3" />
        <activity android:name=".activity.fase3.Q7F3" />
        <activity android:name=".activity.fase3.Q6F3" />
        <activity android:name=".activity.fase3.Q5F3" />
        <activity android:name=".activity.fase3.Q4F3" />
        <activity android:name=".activity.fase3.Q3F3" />
        <activity android:name=".activity.fase3.Q2F3" />
        <activity android:name=".activity.fase2.Q10F2" />
        <activity android:name=".activity.fase2.Q9F2" />
        <activity android:name=".activity.fase2.Q8F2" />
        <activity android:name=".activity.fase2.Q7F2" />
        <activity android:name=".activity.fase2.Q6F2" />
        <activity android:name=".activity.fase2.Q5F2" />
        <activity android:name=".activity.fase2.Q4F2" />
        <activity android:name=".activity.fase2.Q3F2" />
        <activity android:name=".activity.fase2.Q2F2" />
        <activity android:name=".activity.fase10.Q1F10" />
        <activity android:name=".activity.fase9.Q1F9" />
        <activity android:name=".activity.fase8.Q1F8" />
        <activity android:name=".activity.fase7.Q1F7" />
        <activity android:name=".activity.fase6.Q1F6" />
        <activity android:name=".activity.fase5.Q1F5" />
        <activity android:name=".activity.fase4.Q1F4" />
        <activity android:name=".activity.fase3.Q1F3" />
        <activity android:name=".activity.fase2.Q1F2" />
        <activity android:name=".activity.fase1.Q10F1" />
        <activity android:name=".activity.fase1.Q9F1" />
        <activity android:name=".activity.fase1.Q8F1" />
        <activity android:name=".activity.fase1.Q7F1" />
        <activity android:name=".activity.fase1.Q6F1" />
        <activity android:name=".activity.fase1.Q5F1" />
        <activity android:name=".activity.fase1.Q4F1" />
        <activity android:name=".activity.fase1.Q3F1" />
        <activity android:name=".activity.fase1.Q2F1" />
        <activity android:name=".activity.fase1.Q1F1" />
        <activity
            android:name=".activity.ConfiguracaoContaActivity"
            android:parentActivityName=".activity.ActivityPrincipal" />
        <activity
            android:name=".activity.ActivityPrincipal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>